Análisis exploratorio de datos: Se realiza un análisis exploratorio de los datos, con la finalidad de encontrar los datos semejantes que permitan generar información para la toma de decisiones en relación a disminuir las víctimas fatales. Para una lectura mas ordenada, los códigos de gráficos y otros datos se colocaron en funciones dentro de la librería functions que se adjunta en este repositorio.

In [91]:
import Funciones
import pandas as pd
import numpy as np
%load_ext autoreload
%autoreload 2
import warnings
warnings.filterwarnings("ignore")
from datetime import datetime

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Se importan los archivos en csv a ultilizar y luego pasarlos a DataFrame.

In [92]:
df_hechos= pd.read_excel(r'C:\Users\EFRAIN LINARES\Desktop\Henry PI 2\homicidios.xlsx', sheet_name='HECHOS')
df_victimas = pd.read_excel(r'C:\Users\EFRAIN LINARES\Desktop\Henry PI 2\homicidios.xlsx', sheet_name='VICTIMAS')

In [93]:
df_hechos

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,...,NaN,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,NaN,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,NaN,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,4071.0,NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,709.0,NaN,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

Se verifican las columnas de df_hechos y la cantidad de sus datos

In [94]:
#Columnas del dataset
df_hechos.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')

In [95]:
df_hechos.count()

ID                       696
N_VICTIMAS               696
FECHA                    696
AAAA                     696
MM                       696
DD                       696
HORA                     696
HH                       696
LUGAR_DEL_HECHO          696
TIPO_DE_CALLE            696
Calle                    695
Altura                   129
Cruce                    525
Dirección Normalizada    688
COMUNA                   696
XY (CABA)                696
pos x                    696
pos y                    696
PARTICIPANTES            696
VICTIMA                  696
ACUSADO                  696
dtype: int64

In [96]:
#Ya que algunas columnas estan escritas en mayuscula y otras en minúscula, se estandarizan los nombres.
# Se coloca la primera en mayúscula
df_hechos.columns = [x.capitalize() for x in df_hechos.columns]
# Se reemplazan los guiones por espacios
df_hechos.columns = df_hechos.columns.str.replace('_', ' ')
# Se renombran algunas columnas
df_hechos = df_hechos.rename(columns={'N victimas': 'Cantidad víctimas',
                                                      'Aaaa':'Año',
                                                      'Mm':'Mes',
                                                      'Dd':'Día',
                                                      'Hora':'Hora completa',
                                                      'Hh':'Hora',
                                                      'Victima': 'Víctima'})
df_hechos.columns

Index(['Id', 'Cantidad víctimas', 'Fecha', 'Año', 'Mes', 'Día',
       'Hora completa', 'Hora', 'Lugar del hecho', 'Tipo de calle', 'Calle',
       'Altura', 'Cruce', 'Dirección normalizada', 'Comuna', 'Xy (caba)',
       'Pos x', 'Pos y', 'Participantes', 'Víctima', 'Acusado'],
      dtype='object')

Datos nulos En cuanto a los valores faltantes, hay 747 valores nulos y se ubican en las columnas 'Altura', 'Cruce', 'Calle' y 'Dirección normalizada'.

En la columna 'Altura' faltan el 81.5% de los datos, debido a que este dato se completa cuando el hecho ocurre en algún punto de la calle (altura de la calle) y la mayoría de los hechos registrados ocurrieron en esquinas. Por este motivo, se considera que no es un dato relevante para el análsis y se decide eliminarlo del conjunto. Adicionalmente, este dato se encuentra en la columna 'Lugar del hecho' y 'Dirección normalizada'.

In [97]:
df_hechos.isnull().sum()

Id                         0
Cantidad víctimas          0
Fecha                      0
Año                        0
Mes                        0
Día                        0
Hora completa              0
Hora                       0
Lugar del hecho            0
Tipo de calle              0
Calle                      1
Altura                   567
Cruce                    171
Dirección normalizada      8
Comuna                     0
Xy (caba)                  0
Pos x                      0
Pos y                      0
Participantes              0
Víctima                    0
Acusado                    0
dtype: int64

In [98]:
#Se elimina la columna 'altura'
df_hechos = df_hechos.drop(columns='Altura', axis=1)

In [99]:
df_hechos.count()

Id                       696
Cantidad víctimas        696
Fecha                    696
Año                      696
Mes                      696
Día                      696
Hora completa            696
Hora                     696
Lugar del hecho          696
Tipo de calle            696
Calle                    695
Cruce                    525
Dirección normalizada    688
Comuna                   696
Xy (caba)                696
Pos x                    696
Pos y                    696
Participantes            696
Víctima                  696
Acusado                  696
dtype: int64

In [100]:
df_hechos.columns

Index(['Id', 'Cantidad víctimas', 'Fecha', 'Año', 'Mes', 'Día',
       'Hora completa', 'Hora', 'Lugar del hecho', 'Tipo de calle', 'Calle',
       'Cruce', 'Dirección normalizada', 'Comuna', 'Xy (caba)', 'Pos x',
       'Pos y', 'Participantes', 'Víctima', 'Acusado'],
      dtype='object')

Con la columna 'Cruce' es una variable categorica de tipo string que contiene 317 valones distintos y donde hay un 24,6% de valores faltantes. Al contrario de la variable anterior, esta variable no tiene dato cuando se trata de un hecho ocurrido en un cruce. Esta columna puede ser interesante para evaluar si los hechos ocurren en esquinas o en algún punto de la cuadra. A continuación, se observa la columna 'Cruce' en relación a 'Lugar del hecho' y 'Tipo de calle'.

In [101]:
df_hechos[df_hechos['Cruce'].isnull()][['Cruce','Lugar del hecho','Tipo de calle']][:15]

   Cruce                                    Lugar del hecho Tipo de calle
2    NaN                                 AV ENTRE RIOS 2034       AVENIDA
9    NaN                                 AV ENTRE RIOS 1366       AVENIDA
14   NaN                                       SUIPACHA 156         CALLE
33   NaN                                          LIMA 1483         CALLE
35   NaN  AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM....     AUTOPISTA
38   NaN                         AUTOPISTA LUGONES PK 10000     AUTOPISTA
42   NaN                            AV LUIS MARIA CAMPOS 30       AVENIDA
43   NaN                                          LIMA 1471         CALLE
50   NaN                           MAGARIÑOS CERVANTES 3900         CALLE
59   NaN                                   AV LA PLATA 2384       AVENIDA
64   NaN   AUTOPISTA 1 SUR PTE ARTURO FRONDIZI Y AV CASEROS     AUTOPISTA
71   NaN       AUTOPISTA DELLEPIANE LUIS TTE. GRAL. KM. 2,3     AUTOPISTA
81   NaN            AUTOPISTA 9 DE JULIO SUR ALT AV MENDOZA     AUTOPISTA
87   NaN                                      SALGUERO 1410         CALLE
91   NaN         AUTOPISTA 1 SUR PTE ARTURO FRONDIZI KM 2.9     AUTOPISTA

Se puede ver que los datos faltantes efectivamente son los que se refieren a un hecho en algún punto de la calle que no es una esquina o intersección de dos calles. Por lo tanto, se decide modificar esta columna en un valor 'si' para los casos que son hechos en cruces de calles y 'no' en el caso que no sea un cruce de calles.

In [102]:
# Se reemplazan los valores no nulos por "no" y los nulos por "si"
df_hechos['Cruce'] = np.where(df_hechos['Cruce'].notnull(), 'SI', 'NO')
# Se revisa la columna
df_hechos[['Cruce', 'Lugar del hecho', 'Tipo de calle']]

    Cruce                            Lugar del hecho Tipo de calle
0      SI  AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ       AVENIDA
1      SI          AV GRAL PAZ  Y AV DE LOS CORRALES      GRAL PAZ
2      NO                         AV ENTRE RIOS 2034       AVENIDA
3      SI      AV LARRAZABAL Y GRAL VILLEGAS CONRADO       AVENIDA
4      SI  AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA        AVENIDA
..    ...                                        ...           ...
691    SI                          AV. RIESTRA Y MOM       AVENIDA
692    SI                    AU DELLEPIANE Y LACARRA     AUTOPISTA
693    SI                        AV. GAONA Y TERRADA       AVENIDA
694    NO                         AV. EVA PERON 4071       AVENIDA
695    NO                    PADRE CARLOS MUJICA 709         CALLE

[696 rows x 3 columns]

In [103]:
df_hechos.count()

Id                       696
Cantidad víctimas        696
Fecha                    696
Año                      696
Mes                      696
Día                      696
Hora completa            696
Hora                     696
Lugar del hecho          696
Tipo de calle            696
Calle                    695
Cruce                    696
Dirección normalizada    688
Comuna                   696
Xy (caba)                696
Pos x                    696
Pos y                    696
Participantes            696
Víctima                  696
Acusado                  696
dtype: int64

Datos duplicados No se observan filas duplicadas. Podemos ver que en la columna 'Id' tenemos el total de registros que son únicos

In [104]:
print(f"La columna Id tiene {len(df_hechos['Id'].unique())} valores unicos")

La columna Id tiene 696 valores unicos

Se comparan las columnas 'Lugar del hecho' y 'Dirección normalizada'

In [105]:
df_hechos[['Lugar del hecho', 'Dirección normalizada']]

,Lugar del hecho,Dirección normalizada
0,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G..."
1,AV GRAL PAZ Y AV DE LOS CORRALES,"PAZ, GRAL. AV. y DE LOS CORRALES AV."
2,AV ENTRE RIOS 2034,ENTRE RIOS AV. 2034
3,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL."
4,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES."
...,...,...
691,AV. RIESTRA Y MOM,RIESTRA AV. y MOM
692,AU DELLEPIANE Y LACARRA,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV."
693,AV. GAONA Y TERRADA,GAONA AV. y TERRADA
694,AV. EVA PERON 4071,"PERON, EVA AV. 4071"
695,PADRE CARLOS MUJICA 709,PADRE CARLOS MUGICA 709

Como a la columna Direccion normalizada tiene 8 valores nulos, se

In [106]:
#Competar los valores faltantes de la columna 'Dirección normalizada' con los de 'Lugar del hecho'
df_hechos['Dirección normalizada'] = df_hechos['Dirección normalizada'].fillna(df_hechos['Lugar del hecho'])

Se decide elimina la columna 'Lugar del hecho' y reemplazarla con 'Dirección normalizada' porque consideramos primero, que no perdemos ningun dato. Y, en segundo lugar, que en el caso de una futura búsqueda es últil poder utilizar el filtro alfabético. Mientras que si queremos buscar por tipo de calle tenemos la columna 'Tipo de calle'.

In [107]:
df_hechos = df_hechos.drop(columns=['Lugar del hecho']).rename(columns={'Dirección normalizada': 'Lugar del hecho'})

Tipos de variables

En el informe, podemos observar varios tipos de variables en:

Fecha Hora Calle

In [108]:
df_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 696 non-null    object
 1   Cantidad víctimas  696 non-null    int64
 2   Fecha              696 non-null    datetime64[ns]
 3   Año                696 non-null    int64
 4   Mes                696 non-null    int64
 5   Día                696 non-null    int64
 6   Hora completa      696 non-null    object
 7   Hora               696 non-null    object
 8   Tipo de calle      696 non-null    object
 9   Calle              695 non-null    object
 10  Cruce              696 non-null    object
 11  Lugar del hecho    696 non-null    object
 12  Comuna             696 non-null    int64
 13  Xy (caba)          696 non-null    object
 14  Pos x              696 non-null    object
 15  Pos y              696 non-null    object
 16  Participantes      696 non-null    object
 17  Víctima            696 non-null    object
 18  Acusado            696 non-null    object
dtypes: datetime64[ns](1), int64(5), object(13)
memory usage: 103.4+ KB

Verificamos la columna "Hora completa"

In [109]:
df_hechos['Hora completa'].apply(type).value_counts()

Hora completa
<class 'datetime.time'>        608
<class 'str'>                   85
<class 'datetime.datetime'>      3
Name: count, dtype: int64

In [110]:
# Funcion para convertir a time
def convertir_a_time(x):
    if isinstance(x, str):
        try:
            return datetime.strptime(x, "%H:%M:%S").time()
        except ValueError:
            return None
    elif isinstance(x, datetime):
        return x.time()
    return x

# Aplicar la función directamente a la columna 'Hora completa' de tu DataFrame
df_hechos['Hora completa'] = df_hechos['Hora completa'].apply(convertir_a_time)

# Verificar que se hayan modificado los valores
print(df_hechos['Hora completa'].apply(type).value_counts())

Hora completa
<class 'datetime.time'>    695
<class 'NoneType'>           1
Name: count, dtype: int64

Al momento de analizar los datos de la columna Día se muestra unicamente el numero del día y no el nombre correspondiente por lo que se crea la columna Día semana donde se corresponde cada fecha con un dia de la semana para poder analizar luego como se relacionan los siniestros con los dias de la semana. Asi tambien como los diferentes Meses del Año

In [111]:
df_hechos.Día

0       1
1       2
2       3
3      10
4      21
       ..
691    13
692    20
693    30
694    15
695    18
Name: Día, Length: 696, dtype: int64

In [112]:
df_hechos.Mes

0       1
1       1
2       1
3       1
4       1
       ..
691    12
692    12
693    12
694    12
695    11
Name: Mes, Length: 696, dtype: int64

In [113]:
###Creo una columna nueva `Día semana` que contenga el nombre del día de la semana
df_hechos['Día semana'] = df_hechos['Fecha'].dt.strftime('%A')

###Creo un diccionario para modificar a español los nombres de los dás de la semana y lo aplico a la columna nueva
dic={  'Friday':'Viernes',
       'Saturday': 'Sabado',
       'Sunday': 'Domingo',  
       'Thursday': 'Jueves',
        'Monday': 'Lunes',
        'Wednesday': 'Miercoles',
       'Tuesday': 'Martes'}
df_hechos['Día semana'] =df_hechos['Día semana'].replace(dic)

In [114]:
###Creo una columna nueva 'Mes del Año' que contenga el nombre del mes del año
df_hechos['Mes del año'] = df_hechos['Fecha'].dt.strftime('%m')

###Creo un diccionario para modificar a español los nombres de los meses del año y lo aplico a la columna nueva
dic_mes={  '01':'Enero',
       '02': 'Febrero',
       '03': 'Marzo',  
       '04': 'Abril',
        '05': 'Mayo',
        '06': 'Junio',
       '07': 'Julio',
       '08':'Agosto',
       '09':'Septiembre',
       '10':'Octubre',
       '11':'Noviembre',
       '12':'Diciembre'}
df_hechos['Mes del año'] =df_hechos['Mes del año'].replace(dic_mes)

In [115]:
df_hechos

,Id,Cantidad víctimas,Fecha,Año,Mes,Día,Hora completa,Hora,Tipo de calle,Calle,...,Lugar del hecho,Comuna,Xy (caba),Pos x,Pos y,Participantes,Víctima,Acusado,Día semana,Mes del año
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AVENIDA,PIEDRA BUENA AV.,...,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO,Viernes,Enero
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS,Sabado,Enero
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AVENIDA,ENTRE RIOS AV.,...,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO,Domingo,Enero
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AVENIDA,LARRAZABAL AV.,...,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD,Domingo,Enero
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AVENIDA,SAN JUAN AV.,...,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS,Jueves,Enero
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AVENIDA,RIESTRA AV.,...,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO,Lunes,Diciembre
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AUTOPISTA,"DELLEPIANE, LUIS, TTE. GRAL.",...,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO,Lunes,Diciembre
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AVENIDA,GAONA AV.,...,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS,Jueves,Diciembre
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AVENIDA,"PERON, EVA AV.",...,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS,Miercoles,Diciembre
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,CALLE,PADRE CARLOS MUJICA,...,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO,Jueves,Noviembre

In [116]:
# Buscar registro que no se modificó:
df_hechos[df_hechos['Hora completa'].isna()]

,Id,Cantidad víctimas,Fecha,Año,Mes,Día,Hora completa,Hora,Tipo de calle,Calle,...,Lugar del hecho,Comuna,Xy (caba),Pos x,Pos y,Participantes,Víctima,Acusado,Día semana,Mes del año
518,2019-0103,1,2019-12-18,2019,12,18,None,SD,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y GRIVEO",11,Point (94643.11254058 103831.57115061),-58.52169422,-34.59471640,MOTO-MOTO,MOTO,MOTO,Miercoles,Diciembre

In [117]:
#Calculamos la hora mas común
hora_moda = df_hechos['Hora completa'].mode().iloc[0]
print(f'La hora mas común es: {hora_moda}')

#Reemplazar el valor
df_hechos['Hora completa'].fillna(hora_moda, inplace=True)

#Verificar el tipo de dato para toda la columna
df_hechos['Hora completa'].apply(type).value_counts()

La hora mas común es: 09:00:00

Hora completa
<class 'datetime.time'>    696
Name: count, dtype: int64

Ahora modificamos el valor de la columna 'Hora', porque es de tipo 'str'

In [118]:
#verificamos el tipo de dato para toda la columna
df_hechos['Hora'].apply(type).value_counts()
#Agregamos el valor de la hora moda, en el dato faltante.
df_hechos['Hora'] = df_hechos['Hora'].apply(lambda x: int(hora_moda.hour) if x== 'SD' else x)

#Verificamos que se haya modificado el tipo de dato
df_hechos['Hora'].apply(type).value_counts()

Hora
<class 'int'>    696
Name: count, dtype: int64

In [119]:
# Visualizamos
df_hechos[df_hechos['Id']== '2019-0103']

,Id,Cantidad víctimas,Fecha,Año,Mes,Día,Hora completa,Hora,Tipo de calle,Calle,...,Lugar del hecho,Comuna,Xy (caba),Pos x,Pos y,Participantes,Víctima,Acusado,Día semana,Mes del año
518,2019-0103,1,2019-12-18,2019,12,18,09:00:00,9,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y GRIVEO",11,Point (94643.11254058 103831.57115061),-58.52169422,-34.59471640,MOTO-MOTO,MOTO,MOTO,Miercoles,Diciembre

La columna 'Calle' representa dos tipos de datos. Por la informacion de la variable, la columna es un string en el cual se presentan algunos valores float. Se revisaran los registros con este tipo de dato.

In [120]:
# Se verifica el tipo de dato
print('Tipos de datos:')
print(df_hechos['Calle'].apply(type).value_counts())
# Se observa el registro con tipo de dato float
print('Registro con tipo float:')
df_hechos[df_hechos['Calle'].apply(lambda x: isinstance(x, float))]

Tipos de datos:
Calle
<class 'str'>      695
<class 'float'>      1
Name: count, dtype: int64
Registro con tipo float:

,Id,Cantidad víctimas,Fecha,Año,Mes,Día,Hora completa,Hora,Tipo de calle,Calle,...,Lugar del hecho,Comuna,Xy (caba),Pos x,Pos y,Participantes,Víctima,Acusado,Día semana,Mes del año
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,CALLE,NaN,...,SD,0,Point (. .),.,.,PEATON-SD,PEATON,SD,Viernes,Noviembre

Al no tener datos suficientes sobre la calle del hecho, se cambia el valor por SD(Sin Dato) para seguir con la idea original de los faltantes.

In [121]:
df_hechos['Calle'].fillna('SD', inplace=True)

#Verificamos que se haya realizado el cambio 
df_hechos[df_hechos['Id']== '2016-0151']

,Id,Cantidad víctimas,Fecha,Año,Mes,Día,Hora completa,Hora,Tipo de calle,Calle,...,Lugar del hecho,Comuna,Xy (caba),Pos x,Pos y,Participantes,Víctima,Acusado,Día semana,Mes del año
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,CALLE,SD,...,SD,0,Point (. .),.,.,PEATON-SD,PEATON,SD,Viernes,Noviembre

Categorías de Víctima y Acusado En este apartado, vamos a verificar si las categorías que aparecen en el dataset, son las indicadas en el diccionario de datos.

In [122]:
#Traer los valores únicos de la columna 'Victima'
df_hechos['Víctima'].unique()

array(['MOTO', 'AUTO', 'PEATON', 'SD', 'CARGAS', 'BICICLETA', 'PASAJEROS',
       'MOVIL', 'OBJETO FIJO', 'PEATON_MOTO'], dtype=object)

En la columna Acusado están las categorías correctas, pero en la columna Víctima aparecen las categorías 'OBJETO FIJO' y 'PEATON_MOTO', las cuales no están indicadas en el diccionario de datos.

In [123]:
#Buscar los registros 
df_hechos[df_hechos['Víctima'].isin(['OBJETO FIJO', 'PEATON_MOTO'])]

,Id,Cantidad víctimas,Fecha,Año,Mes,Día,Hora completa,Hora,Tipo de calle,Calle,...,Lugar del hecho,Comuna,Xy (caba),Pos x,Pos y,Participantes,Víctima,Acusado,Día semana,Mes del año
230,2017-0108,2,2017-09-02,2017,9,2,04:53:08,4,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y MACHAIN",12,Point (97098.48468623 109019.96106626),-58.49491054,-34.54795581,AUTO-OBJETO FIJO,OBJETO FIJO,AUTO,Sabado,Septiembre
583,2020-0063,2,2020-12-05,2020,12,5,07:10:00,7,CALLE,NUEVA YORK,...,NUEVA YORK y ALTA GRACIA,11,Point (94080.62190808 102083.62453795),-58.52783814,-34.61047001,PEATON_MOTO-MOTO,PEATON_MOTO,MOTO,Sabado,Diciembre

In [124]:
#Cambiar el dato de los dos registros por 'OTRO'
df_hechos['Víctima']= df_hechos['Víctima'].replace({'OBJETO FIJO':'OTRO', 'PEATON_MOTO':'OTRO'})

#Verificar que se haya realizado el cambio correctamente
df_hechos[df_hechos['Id'].isin(['2017-0108','2020-0063'])]

,Id,Cantidad víctimas,Fecha,Año,Mes,Día,Hora completa,Hora,Tipo de calle,Calle,...,Lugar del hecho,Comuna,Xy (caba),Pos x,Pos y,Participantes,Víctima,Acusado,Día semana,Mes del año
230,2017-0108,2,2017-09-02,2017,9,2,04:53:08,4,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y MACHAIN",12,Point (97098.48468623 109019.96106626),-58.49491054,-34.54795581,AUTO-OBJETO FIJO,OTRO,AUTO,Sabado,Septiembre
583,2020-0063,2,2020-12-05,2020,12,5,07:10:00,7,CALLE,NUEVA YORK,...,NUEVA YORK y ALTA GRACIA,11,Point (94080.62190808 102083.62453795),-58.52783814,-34.61047001,PEATON_MOTO-MOTO,OTRO,MOTO,Sabado,Diciembre

In [125]:
#Traer los valores únicos de la columna 'Acusado'
df_hechos['Acusado'].unique()

array(['AUTO', 'PASAJEROS', 'SD', 'OBJETO FIJO', 'CARGAS', 'MOTO',
       'MULTIPLE', 'OTRO', 'BICICLETA', 'TREN'], dtype=object)

En la columna Acusado está la categoría PASAJEROS con la siguiente descripción: "En la columna Acusado están las categorías correctas, pero en la columna Víctima aparecen las categorías 'OBJETO FIJO' y 'PEATON_MOTO', las cuales no están indicadas en el diccionario de datos." Esto no se corresponde con la categoría de "ACUSADO" puesto que en términos legales nunca un pasajero tiene la responsabilidad, sino el conductor.

In [126]:
#Buscar los registros 
df_hechos[df_hechos['Acusado'].isin(['PASAJEROS'])]

,Id,Cantidad víctimas,Fecha,Año,Mes,Día,Hora completa,Hora,Tipo de calle,Calle,...,Lugar del hecho,Comuna,Xy (caba),Pos x,Pos y,Participantes,Víctima,Acusado,Día semana,Mes del año
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS,Sabado,Enero
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AVENIDA,SAN JUAN AV.,...,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS,Jueves,Enero
13,2016-0019,1,2016-02-17,2016,2,17,09:30:00,9,CALLE,"DE LA TORRE, LISANDRO",...,"DE LA TORRE, LISANDRO y GARCIA GRANDE DE ZEQUE...",9,Point (95727.37083199 97179.35560349),-58.50990884,-34.65468721,PEATON-PASAJEROS,PEATON,PASAJEROS,Miercoles,Febrero
21,2016-0029,1,2016-03-04,2016,3,4,17:30:00,17,AVENIDA,CABILDO AV.,...,CABILDO AV. y DEHEZA,12,Point (99037.31284333 109733.12041651),-58.47378664,-34.54153077,PEATON-PASAJEROS,PEATON,PASAJEROS,Viernes,Marzo
22,2016-0031,1,2016-03-08,2016,3,8,12:30:00,12,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y ROCA, CNEL. AV.",8,Point (99327.01838497 92326.91130631),-58.47064556,-34.69843756,MOTO-PASAJEROS,MOTO,PASAJEROS,Martes,Marzo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,2021-0065,1,2021-08-06,2021,8,6,08:30:00,8,AVENIDA,SAN JUAN AV.,...,SAN JUAN AV. y LA PLATA AV.,6,Point (103350.94520286 100251.53397151),-58.42675754,-34.62699730,PEATON-PASAJEROS,PEATON,PASAJEROS,Viernes,Agosto
664,2021-0066,1,2021-08-06,2021,8,6,20:00:00,20,AVENIDA,LOPE DE VEGA AV.,...,"LOPE DE VEGA AV. y PAZ, GRAL. AV.",11,Point (93943.16495967 102026.75338495),-58.52933723,-34.61098186,PEATON-PASAJEROS,PEATON,PASAJEROS,Viernes,Agosto
676,2021-0078,1,2021-10-23,2021,10,23,06:35:00,6,AVENIDA,INDEPENDENCIA AV.,...,INDEPENDENCIA AV. y LA PLATA AV.,6,Point (103255.81315650 100797.78656418),-58.42779702,-34.62207347,MOTO-PASAJEROS,MOTO,PASAJEROS,Sabado,Octubre
684,2021-0086,1,2021-11-25,2021,11,25,10:10:00,10,AVENIDA,RIVADAVIA AV.,...,RIVADAVIA AV. y PUAN,6,Point (101343.57441195 100636.86479169),-58.44864864,-34.62352826,PEATON-PASAJEROS,PEATON,PASAJEROS,Jueves,Noviembre
688,2021-0090,1,2021-12-10,2021,12,10,11:45:00,11,AVENIDA,9 DE JULIO AV.,...,9 DE JULIO AV. y LAVALLE,1,Point (107467.87595573 102960.02837514),-58.38188582,-34.60256036,PEATON-PASAJEROS,PEATON,PASAJEROS,Viernes,Diciembre

Consultado esto con la OMSV, se toma la decision de convertir esta categoria a 'TRANSPORTE DE PASAJEROS'.

In [127]:
#Cambiar el dato de los dos registros por ''TRANSPORTE DE PASAJEROS'
df_hechos['Acusado']= df_hechos['Acusado'].replace({'PASAJEROS':'TRANSPORTE DE PASAJEROS'})
#Verificar que se haya realizado el cambio correctamente
print(df_hechos['Acusado'].head(10))

0                       AUTO
1    TRANSPORTE DE PASAJEROS
2                       AUTO
3                         SD
4    TRANSPORTE DE PASAJEROS
5                OBJETO FIJO
6                       AUTO
7                       AUTO
8                     CARGAS
9                       AUTO
Name: Acusado, dtype: object

Variables geográficas Xy (caba) , Pos x (indica la longitud), Pos y(indica la latitud)

In [128]:
df_hechos[df_hechos['Xy (caba)']== 'Point (. .)']

,Id,Cantidad víctimas,Fecha,Año,Mes,Día,Hora completa,Hora,Tipo de calle,Calle,...,Lugar del hecho,Comuna,Xy (caba),Pos x,Pos y,Participantes,Víctima,Acusado,Día semana,Mes del año
35,2016-0049,1,2016-04-17,2016,4,17,00:00:00,0,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,...,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),-58.37714647568196,-34.63657525428238,SD-SD,SD,SD,Domingo,Abril
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA,"LUGONES, LEOPOLDO AV.",...,AUTOPISTA LUGONES PK 10000,13,Point (. .),.,.,MOTO-SD,MOTO,SD,Miercoles,Abril
71,2016-0096,1,2016-07-25,2016,7,25,07:00:00,7,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,...,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,8,Point (. .),-58.47433193007387,-34.66684950051973,MOTO-CARGAS,MOTO,CARGAS,Lunes,Julio
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,...,AU BUENOS AIRES - LA PLATA KM. 4,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Martes,Octubre
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,CALLE,SD,...,SD,0,Point (. .),.,.,PEATON-SD,PEATON,SD,Viernes,Noviembre
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA,AUTOPISTA 25 DE MAYO,...,AUTOPISTA 25 DE MAYO,0,Point (. .),.,.,SD-SD,SD,SD,Martes,Diciembre
176,2017-0042,1,2017-04-10,2017,4,10,09:00:00,9,GRAL PAZ,"LUGONES, LEOPOLDO AV.",...,"LUGONES, LEOPOLDO AV.",14,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Lunes,Abril
180,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AUTOPISTA,AUTOPISTA PERITO MORENO,...,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,9,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Viernes,Abril
181,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,...,AU DELLEPIANE 2400,7,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO,Lunes,Mayo
256,2017-0140,1,2017-11-19,2017,11,19,23:22:17,23,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,...,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),.,.,MOTO-PASAJEROS,MOTO,TRANSPORTE DE PASAJEROS,Domingo,Noviembre
313,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA,"LUGONES, LEOPOLDO AV.",...,AUTOPISTA LUGONES KM 4.7,14,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO,Sabado,Abril
546,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,AUTOPISTA,"LUGONES, LEOPOLDO AV.",...,"LUGONES, LEOPOLDO AV. KM 6,1",14,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO,Domingo,Mayo
559,2020-0039,1,2020-09-01,2020,9,1,19:17:42,19,CALLE,MURGUIONDO,...,MURGUIONDO,9,Point (. .),.,.,PEATON-CARGAS,PEATON,CARGAS,Martes,Septiembre
621,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,...,"AU BUENOS AIRES LA PLATA KM 4,5",4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Lunes,Marzo

No se encontró la información para completar estos datos. Se decide, por lo tanto, asignarles el valor de 0 (cero), para poder realizar el análisis correctamente.

In [129]:
df_hechos['Pos x'] = df_hechos['Pos x'].replace('.', 0)
df_hechos['Pos y'] = df_hechos['Pos y'].replace('.', 0)
df_hechos['Xy (caba)'] = df_hechos['Xy (caba)'].replace('Point (. .)', 0)
#Verificar los cambios, visualizando los registros 180 y 181 de las columnas 'Pos x', 'Pos y' y 'Xy (caba)'
print(df_hechos.loc[[180, 181], ['Pos x', 'Pos y', 'Xy (caba)']])

    Pos x Pos y Xy (caba)
180     0     0         0
181     0     0         0

Hacemos las revisiones finales para la exportación del documento

In [130]:
print(df_hechos.isnull().sum())

Id                   0
Cantidad víctimas    0
Fecha                0
Año                  0
Mes                  0
Día                  0
Hora completa        0
Hora                 0
Tipo de calle        0
Calle                0
Cruce                0
Lugar del hecho      0
Comuna               0
Xy (caba)            0
Pos x                0
Pos y                0
Participantes        0
Víctima              0
Acusado              0
Día semana           0
Mes del año          0
dtype: int64

In [131]:
Funciones.verificar_tipo_variable(df_hechos)

         nombre_campo                                         tipo_datos
0                  Id                                    [<class 'str'>]
1   Cantidad víctimas                                    [<class 'int'>]
2               Fecha  [<class 'pandas._libs.tslibs.timestamps.Timest...
3                 Año                                    [<class 'int'>]
4                 Mes                                    [<class 'int'>]
5                 Día                                    [<class 'int'>]
6       Hora completa                          [<class 'datetime.time'>]
7                Hora                                    [<class 'int'>]
8       Tipo de calle                                    [<class 'str'>]
9               Calle                                    [<class 'str'>]
10              Cruce                                    [<class 'str'>]
11    Lugar del hecho                                    [<class 'str'>]
12             Comuna                                    [<class 'int'>]
13          Xy (caba)                     [<class 'str'>, <class 'int'>]
14              Pos x                     [<class 'str'>, <class 'int'>]
15              Pos y                     [<class 'str'>, <class 'int'>]
16      Participantes                                    [<class 'str'>]
17            Víctima                                    [<class 'str'>]
18            Acusado                                    [<class 'str'>]
19         Día semana                                    [<class 'str'>]
20        Mes del año                                    [<class 'str'>]

Exportar archivo a la carpeta Datos_limpios en el formato xlsx

In [132]:
#Especificamos la ruta y el nombre del archivo a exportar
rute_arch = r'C:\Users\EFRAIN LINARES\Desktop\Henry PI 2\Datos_limpios\df_hechos_clean.xlsx'
#Exportamos el DataFrame a archivo excel
df_hechos.to_excel(rute_arch, index=False)

Mostrar los datos generales del DataFrame de df_victimas

In [133]:
#tipo de datos
df_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [134]:
df_victimas.count()

ID_hecho               717
FECHA                  717
AAAA                   717
MM                     717
DD                     717
ROL                    717
VICTIMA                717
SEXO                   717
EDAD                   717
FECHA_FALLECIMIENTO    717
dtype: int64

In [135]:
#Cantidad de columnas
df_victimas.columns

Index(['ID_hecho', 'FECHA', 'AAAA', 'MM', 'DD', 'ROL', 'VICTIMA', 'SEXO',
       'EDAD', 'FECHA_FALLECIMIENTO'],
      dtype='object')

Por lo que podemos observar es que dentro de las 10 columnas del Dataset ningun valor es nulo.

Se estandarizan los nombres de las columnas a una sola letra en mayusculas.

In [136]:
# Se coloca la primera en mayúscula
df_victimas.columns = [x.capitalize() for x in df_victimas.columns]
# Se reemplazan los guiones por espacios
df_victimas.columns = df_victimas.columns.str.replace('_', ' ')
# Se renombran algunas columnas
df_victimas = df_victimas.rename(columns={  'Aaaa':'Año',
                                            'Mm':'Mes',
                                            'Dd':'Día',
                                            'Victima':'Víctima'})

df_victimas.columns

Index(['Id hecho', 'Fecha', 'Año', 'Mes', 'Día', 'Rol', 'Víctima', 'Sexo',
       'Edad', 'Fecha fallecimiento'],
      dtype='object')

Se buscan los valores repetidos

In [137]:
df_victimas[df_victimas.duplicated()]

Empty DataFrame
Columns: [Id hecho, Fecha, Año, Mes, Día, Rol, Víctima, Sexo, Edad, Fecha fallecimiento]
Index: []

Verificamos que el Id sea unico o hay duplicados.

In [138]:
def verifica_duplicados_por_columna(df, columna):
    # Se filtran las filas duplicadas
    duplicated_rows = df[df.duplicated(subset=columna, keep=False)]
    if duplicated_rows.empty:
        return "No hay duplicados"
    
    # se ordenan las filas duplicadas para comparar entre sí
    duplicated_rows_sorted = duplicated_rows.sort_values(by=columna)
    return duplicated_rows_sorted

# Llamar a la función para verificar duplicados en la columna 'Id'
duplicados_id_hecho = verifica_duplicados_por_columna(df_victimas, 'Id hecho')
print(duplicados_id_hecho)

      Id hecho      Fecha   Año  Mes  Día                   Rol Víctima  \
29   2016-0041 2016-03-29  2016    3   29             CONDUCTOR    MOTO
30   2016-0041 2016-03-29  2016    3   29  PASAJERO_ACOMPAÑANTE    MOTO
98   2016-0126 2016-09-18  2016    9   18             CONDUCTOR    AUTO
99   2016-0126 2016-09-18  2016    9   18  PASAJERO_ACOMPAÑANTE    AUTO
163  2017-0026 2017-02-26  2017    2   26  PASAJERO_ACOMPAÑANTE    AUTO
164  2017-0026 2017-02-26  2017    2   26             CONDUCTOR    AUTO
173  2017-0035 2017-03-23  2017    3   23             CONDUCTOR    AUTO
174  2017-0035 2017-03-23  2017    3   23  PASAJERO_ACOMPAÑANTE    AUTO
175  2017-0035 2017-03-23  2017    3   23  PASAJERO_ACOMPAÑANTE    AUTO
177  2017-0036 2017-03-29  2017    3   29             CONDUCTOR    MOTO
176  2017-0036 2017-03-29  2017    3   29  PASAJERO_ACOMPAÑANTE    MOTO
186  2017-0050 2017-04-28  2017    4   28             CONDUCTOR    MOTO
187  2017-0050 2017-04-28  2017    4   28  PASAJERO_ACOMPAÑANTE    MOTO
237  2017-0108 2017-09-02  2017    9    2  PASAJERO_ACOMPAÑANTE    AUTO
238  2017-0108 2017-09-02  2017    9    2  PASAJERO_ACOMPAÑANTE    AUTO
242  2017-0112 2017-09-10  2017    9   10  PASAJERO_ACOMPAÑANTE    AUTO
243  2017-0112 2017-09-10  2017    9   10  PASAJERO_ACOMPAÑANTE    AUTO
253  2017-0126 2017-10-14  2017   10   14  PASAJERO_ACOMPAÑANTE    AUTO
254  2017-0126 2017-10-14  2017   10   14             CONDUCTOR    AUTO
278  2017-0153 2017-12-11  2017   12   11             CONDUCTOR    MOTO
277  2017-0153 2017-12-11  2017   12   11  PASAJERO_ACOMPAÑANTE    MOTO
300  2018-0015 2018-02-06  2018    2    6             CONDUCTOR    MOTO
301  2018-0015 2018-02-06  2018    2    6  PASAJERO_ACOMPAÑANTE    MOTO
312  2018-0026 2018-03-09  2018    3    9             CONDUCTOR   MOVIL
313  2018-0026 2018-03-09  2018    3    9  PASAJERO_ACOMPAÑANTE   MOVIL
325  2018-0038 2018-04-20  2018    4   20                PEATON  PEATON
326  2018-0038 2018-04-20  2018    4   20                PEATON  PEATON
373  2018-0085 2018-08-03  2018    8    3  PASAJERO_ACOMPAÑANTE    MOTO
374  2018-0085 2018-08-03  2018    8    3             CONDUCTOR    MOTO
388  2018-0098 2018-09-09  2018    9    9  PASAJERO_ACOMPAÑANTE    AUTO
387  2018-0098 2018-09-09  2018    9    9             CONDUCTOR    AUTO
418  2018-0128 2018-11-25  2018   11   25  PASAJERO_ACOMPAÑANTE    AUTO
419  2018-0128 2018-11-25  2018   11   25  PASAJERO_ACOMPAÑANTE    AUTO
444  2019-0010 2019-02-02  2019    2    2                PEATON  PEATON
445  2019-0010 2019-02-02  2019    2    2                PEATON  PEATON
576  2020-0038 2020-08-30  2020    8   30             CONDUCTOR    AUTO
577  2020-0038 2020-08-30  2020    8   30             CONDUCTOR    AUTO
602  2020-0063 2020-12-05  2020   12    5                PEATON  PEATON
603  2020-0063 2020-12-05  2020   12    5  PASAJERO_ACOMPAÑANTE    MOTO
616  2020-0077 2020-12-25  2020   12   25             CONDUCTOR    MOTO
617  2020-0077 2020-12-25  2020   12   25  PASAJERO_ACOMPAÑANTE    MOTO

          Sexo Edad  Fecha fallecimiento
29   MASCULINO   54  2016-03-29 00:00:00
30   MASCULINO   SD  2016-03-30 00:00:00
98   MASCULINO   37                   SD
99   MASCULINO   60                   SD
163   FEMENINO   23  2017-02-26 00:00:00
164  MASCULINO   19  2017-02-26 00:00:00
173  MASCULINO   28  2017-03-23 00:00:00
174  MASCULINO   32  2017-03-23 00:00:00
175  MASCULINO   30  2017-03-23 00:00:00
177  MASCULINO   20  2017-03-29 00:00:00
176   FEMENINO   SD  2017-03-29 00:00:00
186  MASCULINO   46  2017-04-28 00:00:00
187  MASCULINO   16  2017-04-28 00:00:00
237  MASCULINO   17  2017-09-02 00:00:00
238  MASCULINO   10  2017-09-02 00:00:00
242  MASCULINO    1                   SD
243  MASCULINO   SD  2017-09-13 00:00:00
253  MASCULINO   39                   SD
254  MASCULINO   36  2017-10-14 00:00:00
278  MASCULINO   30  2017-12-12 00:00:00
277  MASCULINO   SD  2017-12-12 00:00:00
300  MASCULINO   28  2018-02-06 00:00:00
301  MASCULINO   19  2018-02-06 00:00:00
312  MASCULINO   24  2018-03-09 00:00:00
313  MASCULINO   30  2018-03-09 00:00:00
325   FEMENINO   59  2018-04-20 00:00:00
326  MASCULINO   61  2018-04-20 00:00:00
373   FEMENINO   22  2018-08-03 00:00:00
374  MASCULINO   30  2018-08-03 00:00:00
388  MASCULINO   54  2018-09-09 00:00:00
387  MASCULINO   55  2018-09-09 00:00:00
418  MASCULINO   49  2018-11-25 00:00:00
419   FEMENINO   39  2018-11-25 00:00:00
444  MASCULINO   SD  2019-02-02 00:00:00
445  MASCULINO   59  2019-02-02 00:00:00
576  MASCULINO   46  2020-08-30 00:00:00
577  MASCULINO   64  2020-08-30 00:00:00
602  MASCULINO   38  2020-12-05 00:00:00
603  MASCULINO   21  2020-12-05 00:00:00
616   FEMENINO   30  2020-12-25 00:00:00
617   FEMENINO   24  2020-12-25 00:00:00

Vemos los tipos de variables por columnas.

In [139]:
#Vemos el tipo de dato en cada columna.
def verificar_tipo_variable(df):
    mi_dict = {"nombre_campo": [], "tipo_datos": []}

    for columna in df.columns:
        mi_dict["nombre_campo"].append(columna)
        mi_dict["tipo_datos"].append(df[columna].apply(type).unique())
    df_info = pd.DataFrame(mi_dict)
        
    return df_info

# Llamar a la función para verificar el tipo de dato
tipo_dato = verificar_tipo_variable(df_victimas)
print(tipo_dato)

          nombre_campo                                         tipo_datos
0             Id hecho                                    [<class 'str'>]
1                Fecha  [<class 'pandas._libs.tslibs.timestamps.Timest...
2                  Año                                    [<class 'int'>]
3                  Mes                                    [<class 'int'>]
4                  Día                                    [<class 'int'>]
5                  Rol                                    [<class 'str'>]
6              Víctima                                    [<class 'str'>]
7                 Sexo                                    [<class 'str'>]
8                 Edad                     [<class 'int'>, <class 'str'>]
9  Fecha fallecimiento       [<class 'datetime.datetime'>, <class 'str'>]

Trabajamos con las columnas 'Edad' y  "Fecha de fallecimiento"

In [140]:
# Cantidad de valores por tipo de dato en la columna 'Edad'
df_victimas['Edad'].apply(type).value_counts()

Edad
<class 'int'>    664
<class 'str'>     53
Name: count, dtype: int64

In [141]:
# Se observan los registros con tipo de dato str
print('Registro con tipo str:')
df_victimas[df_victimas['Edad'].apply(lambda x: isinstance(x, str))]

Registro con tipo str:

,Id hecho,Fecha,Año,Mes,Día,Rol,Víctima,Sexo,Edad,Fecha fallecimiento
30,2016-0041,2016-03-29,2016,3,29,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2016-03-30 00:00:00
33,2016-0045,2016-04-11,2016,4,11,CONDUCTOR,MOTO,MASCULINO,SD,SD
35,2016-0048,2016-04-15,2016,4,15,PEATON,PEATON,FEMENINO,SD,SD
36,2016-0049,2016-04-17,2016,4,17,SD,SD,SD,SD,SD
39,2016-0052,2016-04-20,2016,4,20,SD,MOTO,SD,SD,SD
55,2016-0077,2016-06-13,2016,6,13,PEATON,PEATON,FEMENINO,SD,SD
63,2016-0085,2016-06-29,2016,6,29,SD,MOTO,MASCULINO,SD,SD
72,2016-0096,2016-07-25,2016,7,25,CONDUCTOR,MOTO,MASCULINO,SD,SD
89,2016-0115,2016-09-02,2016,9,2,SD,SD,MASCULINO,SD,SD
93,2016-0119,2016-09-04,2016,9,4,PASAJERO_ACOMPAÑANTE,SD,FEMENINO,SD,SD
108,2016-0136,2016-10-25,2016,10,25,CONDUCTOR,MOTO,SD,SD,SD
119,2016-0148,2016-11-16,2016,11,16,CONDUCTOR,MOTO,MASCULINO,SD,SD
121,2016-0151,2016-11-18,2016,11,18,PEATON,PEATON,SD,SD,SD
138,2016-0171,2016-12-25,2016,12,25,CONDUCTOR,MOTO,SD,SD,SD
141,2016-0174,2016-12-27,2016,12,27,SD,SD,SD,SD,SD
142,2016-0175,2016-12-27,2016,12,27,PEATON,PEATON,FEMENINO,SD,SD
165,2017-0027,2017-02-26,2017,2,26,PEATON,PEATON,MASCULINO,SD,2017-02-26 00:00:00
176,2017-0036,2017-03-29,2017,3,29,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,SD,2017-03-29 00:00:00
182,2017-0042,2017-04-10,2017,4,10,CONDUCTOR,MOTO,MASCULINO,SD,2017-04-10 00:00:00
225,2017-0093,2017-07-25,2017,7,25,PEATON,PEATON,MASCULINO,SD,2017-07-25 00:00:00
243,2017-0112,2017-09-10,2017,9,10,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,SD,2017-09-13 00:00:00
275,2017-0151,2017-12-04,2017,12,4,PEATON,PEATON,MASCULINO,SD,2017-12-04 00:00:00
277,2017-0153,2017-12-11,2017,12,11,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2017-12-12 00:00:00
299,2018-0014,2018-01-31,2018,1,31,PEATON,PEATON,MASCULINO,SD,2018-02-04 00:00:00
328,2018-0040,2018-04-27,2018,4,27,PEATON,PEATON,FEMENINO,SD,2018-04-27 00:00:00
359,2018-0071,2018-07-10,2018,7,10,CONDUCTOR,MOTO,MASCULINO,SD,2018-07-10 00:00:00
367,2018-0079,2018-07-23,2018,7,23,PEATON,PEATON,MASCULINO,SD,2018-07-23 00:00:00
371,2018-0083,2018-08-02,2018,8,2,CONDUCTOR,MOTO,MASCULINO,SD,2018-08-02 00:00:00
377,2018-0088,2018-08-17,2018,8,17,CONDUCTOR,MOTO,MASCULINO,SD,2018-08-17 00:00:00
391,2018-0101,2018-09-21,2018,9,21,CONDUCTOR,AUTO,MASCULINO,SD,2018-09-21 00:00:00
421,2018-0130,2018-12-03,2018,12,3,CONDUCTOR,MOTO,MASCULINO,SD,2018-12-03 00:00:00
444,2019-0010,2019-02-02,2019,2,2,PEATON,PEATON,MASCULINO,SD,2019-02-02 00:00:00
446,2019-0011,2019-02-10,2019,2,10,PEATON,PEATON,MASCULINO,SD,2019-02-10 00:00:00
454,2019-0019,2019-03-06,2019,3,6,CONDUCTOR,MOTO,MASCULINO,SD,26/03/2019
457,2019-0022,2019-03-15,2019,3,15,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,SD,2019-03-15 00:00:00
461,2019-0026,2019-03-28,2019,3,28,PEATON,PEATON,MASCULINO,SD,2019-03-28 00:00:00
463,2019-0028,2019-04-06,2019,4,6,PEATON,PEATON,FEMENINO,SD,2019-04-06 00:00:00
469,2019-0034,2019-04-21,2019,4,21,CONDUCTOR,MOTO,MASCULINO,SD,2019-04-21 00:00:00
479,2019-0043,2019-05-21,2019,5,21,CICLISTA,BICICLETA,FEMENINO,SD,2019-05-21 00:00:00
498,2019-0063,2019-08-04,2019,8,4,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2019-08-04 00:00:00
506,2019-0071,2019-08-27,2019,8,27,PEATON,PEATON,MASCULINO,SD,2019-08-27 00:00:00
529,2019-0094,2019-11-18,2019,11,18,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,SD,2019-11-18 00:00:00
530,2019-0095,2019-11-20,2019,11,20,CONDUCTOR,MOTO,MASCULINO,SD,2019-11-20 00:00:00
548,2020-0010,2020-02-08,2020,2,8,CONDUCTOR,MOTO,MASCULINO,SD,2020-02-08 00:00:00
552,2020-0014,2020-02-27,2020,2,27,CONDUCTOR,MOTO,MASCULINO,SD,2020-02-27 00:00:00
555,2020-0017,2020-03-05,2020,3,5,PEATON,PEATON,MASCULINO,SD,2020-03-05 00:00:00
563,2020-0025,2020-05-12,2020,5,12,PEATON,PEATON,MASCULINO,SD,2020-05-12 00:00:00
572,2020-0034,2020-08-02,2020,8,2,PEATON,PEATON,FEMENINO,SD,2020-08-02 00:00:00
579,2020-0040,2020-09-12,2020,9,12,CONDUCTOR,AUTO,MASCULINO,SD,2020-09-12 00:00:00
631,2021-0012,2021-01-29,2021,1,29,PEATON,PEATON,MASCULINO,SD,2021-01-29 00:00:00
639,2021-0020,2021-02-21,2021,2,21,PEATON,PEATON,FEMENINO,SD,2021-02-21 00:00:00
647,2021-0028,2021-03-29,2021,3,29,PEATON,PEATON,MASCULINO,SD,2021-03-29 00:00:00
698,2021-0079,2021-10-25,2021,10,25,PEATON,PEATON,MASCULINO,SD,2021-10-25 00:00:00

Se busca el valor promedio en la columna Edad teniendo el sexo de cada victima

Tambien se observan valores faltantes en la columna de Sexo, por lo cual se realizara una ingesta de datos de la columna Edad, primero se completa la columna Sexo.

In [142]:
def ingresa_valor_frecuente(df, columna):
    #Se reemplaza 'SD' con NaN en la columna especificada
    df[columna]=df[columna].replace('SD', pd.NA)
    
    #Verifica el valor más frecuente en la columna
    valor_frecuente= df[columna].mode().iloc[0]
    print('El valor más frecuente de', columna, 'es:', valor_frecuente)

    #Se modifican los valores NaN, con el valor más frecuente
    df[columna].fillna(valor_frecuente, inplace=True)



# Llamar a la función 
valor_frecuente_sexo = ingresa_valor_frecuente(df_victimas, 'Sexo')
print(valor_frecuente_sexo)

El valor más frecuente de Sexo es: MASCULINO
None

In [143]:
#Una vez modificada la columna 'Sexo', se modifica la columna 'Edad'
def ingresa_edad_media_segun_sexo(df):
    #Reemplaza 'SD' con NaN en la columna 'Edad'.
    df['Edad']= df['Edad'].replace('SD', pd.NA)

    #Se calcula el valor promedio de la edad, para cada género(es decir, agrupamos por género).
    promedio_por_genero= df.groupby('Sexo')['Edad'].mean()
    print(f'La edad promedio de Femenino es {round(promedio_por_genero["FEMENINO"])} y de Masculino es {round(promedio_por_genero["MASCULINO"])}')

    #Modificamos los valores NaN en 'Edad', con los valores correspondientes en cada género.
    #Se verifica fila por fila, si el valor en 'Edad' es NaN, se aplica la función, sino se devuelve el valor original.
    df['Edad']= df.apply(lambda row: promedio_por_genero[row['Sexo']] if pd.isna(row['Edad']) else row['Edad'], axis=1)

    #Convertimos el valor ingresado a tipo int
    df['Edad']= df['Edad'].astype(int)


# Llamar a la función 
edad_media_sexo = ingresa_edad_media_segun_sexo(df_victimas)
print(edad_media_sexo)

La edad promedio de Femenino es 51 y de Masculino es 40
None

In [144]:
df_victimas['Edad'].count()

np.int64(717)

In [145]:
#Revisamos que se hayan realizado los cambios correctamente en alguno de los ejemplos que veíamos antes.
df_victimas[df_victimas['Id hecho']=='2016-0165']

,Id hecho,Fecha,Año,Mes,Día,Rol,Víctima,Sexo,Edad,Fecha fallecimiento
134,2016-0165,2016-12-12,2016,12,12,CICLISTA,BICICLETA,MASCULINO,37,SD

En algunas de las columnas 'Rol' y 'Víctima', hay datos faltantes.

In [146]:
print('La cantidad de registros con SD en la columna Rol, es de:', len(df_victimas[df_victimas['Rol']=='SD']))
print('La cantidad de registros con SD en la columna Víctima, es de:', len(df_victimas[df_victimas['Víctima']=='SD']))

La cantidad de registros con SD en la columna Rol, es de: 11
La cantidad de registros con SD en la columna Víctima, es de: 9

In [147]:
#modificamos la columna Rol
Funciones.ingresa_valor_frecuente(df_victimas, 'Rol')
#Modificamos la columna Víctima
Funciones.ingresa_valor_frecuente(df_victimas, 'Víctima')

El valor más frecuente de Rol es: CONDUCTOR
El valor más frecuente de Víctima es: MOTO

In [148]:
#Volvemos a revisar, para verificar que se hayan realizado los cambios.
print('La cantidad de registros con SD en la columna Rol, es de:', len(df_victimas[df_victimas['Rol']=='SD']))
print('La cantidad de registros con SD en la columna Víctima, es de:', len(df_victimas[df_victimas['Víctima']=='SD']))
#Vemos el ejemplo que teníamos antes
df_victimas[df_victimas['Id hecho']=='2016-0165']

La cantidad de registros con SD en la columna Rol, es de: 0
La cantidad de registros con SD en la columna Víctima, es de: 0

,Id hecho,Fecha,Año,Mes,Día,Rol,Víctima,Sexo,Edad,Fecha fallecimiento
134,2016-0165,2016-12-12,2016,12,12,CICLISTA,BICICLETA,MASCULINO,37,SD

En la columna 'Fecha fallecimiento' se unifica el tipo de dato.

In [149]:
# Contar el número de registros 'SD' en la columna 'Fecha fallecimiento'
num_sd = df_victimas[df_victimas['Fecha fallecimiento'] == 'SD'].shape[0]

# Calcular el total de filas en el DataFrame
total_registros = df_victimas.shape[0]

# Calcular el porcentaje de registros 'SD'
porcentaje_sd = (num_sd / total_registros) * 100

print(f"El porcentaje de registros 'SD' en la columna 'Fecha fallecimiento' es: {porcentaje_sd:.2f}%")

El porcentaje de registros 'SD' en la columna 'Fecha fallecimiento' es: 9.48%

Para no perder los registros decidimos asignarles el valor de la fecha en la que ocurrio el accidente

In [150]:
# Copiar la columna 'Fecha' a la columna 'Fecha fallecimiento' donde el valor sea 'SD'
df_victimas.loc[df_victimas['Fecha fallecimiento'] == 'SD', 'Fecha fallecimiento'] = df_victimas['Fecha']

# Verificar que se hayan completado correctamente los registros
print(df_victimas[df_victimas['Fecha fallecimiento'] == 'SD'])

Empty DataFrame
Columns: [Id hecho, Fecha, Año, Mes, Día, Rol, Víctima, Sexo, Edad, Fecha fallecimiento]
Index: []

Se eliminan columnas cuyos datos podrian obtenerse de df_hechos por estar relacionados

In [151]:
df_victimas=df_victimas.drop(['Fecha', 'Año', 'Mes', 'Día'], axis=1)
df_victimas.columns

Index(['Id hecho', 'Rol', 'Víctima', 'Sexo', 'Edad', 'Fecha fallecimiento'], dtype='object')

Se verifican los tipos de datos de las columnas

In [152]:
Funciones.verificar_tipo_variable(df_victimas)

          nombre_campo                                         tipo_datos
0             Id hecho                                    [<class 'str'>]
1                  Rol                                    [<class 'str'>]
2              Víctima                                    [<class 'str'>]
3                 Sexo                                    [<class 'str'>]
4                 Edad                                    [<class 'int'>]
5  Fecha fallecimiento  [<class 'datetime.datetime'>, <class 'pandas._...

In [153]:
print(df_victimas.isnull().sum())

Id hecho               0
Rol                    0
Víctima                0
Sexo                   0
Edad                   0
Fecha fallecimiento    0
dtype: int64

Asignamos una clave unica para cada registro de victimas 'Id víctima'

In [154]:
# Reiniciar el índice para asignar una clave única a cada registro
df_victimas_con_clave = df_victimas.reset_index(drop=True)

# Verificar el DataFrame con la nueva clave única
print(df_victimas_con_clave)

# Asignar el nombre 'Id victima' a la columna de clave única
df_victimas_con_clave = df_victimas_con_clave.rename(columns={'index': 'Id víctima'})

# Verificar el DataFrame con la nueva columna 'Id victima'
print(df_victimas_con_clave)

      Id hecho                   Rol Víctima       Sexo  Edad  \
0    2016-0001             CONDUCTOR    MOTO  MASCULINO    19
1    2016-0002             CONDUCTOR    AUTO  MASCULINO    70
2    2016-0003             CONDUCTOR    MOTO  MASCULINO    30
3    2016-0004             CONDUCTOR    MOTO  MASCULINO    18
4    2016-0005             CONDUCTOR    MOTO  MASCULINO    29
..         ...                   ...     ...        ...   ...
712  2021-0092                PEATON  PEATON   FEMENINO    50
713  2021-0093  PASAJERO_ACOMPAÑANTE    MOTO   FEMENINO    18
714  2021-0094  PASAJERO_ACOMPAÑANTE    MOTO   FEMENINO    43
715  2021-0095             CONDUCTOR    MOTO  MASCULINO    27
716  2021-0096             CONDUCTOR    AUTO  MASCULINO    60

     Fecha fallecimiento
0    2016-01-01 00:00:00
1    2016-01-02 00:00:00
2    2016-01-03 00:00:00
3    2016-01-10 00:00:00
4    2016-02-01 00:00:00
..                   ...
712  2021-12-12 00:00:00
713  2021-12-18 00:00:00
714  2021-12-20 00:00:00
715  2022-01-02 00:00:00
716  2021-12-20 00:00:00

[717 rows x 6 columns]
      Id hecho                   Rol Víctima       Sexo  Edad  \
0    2016-0001             CONDUCTOR    MOTO  MASCULINO    19
1    2016-0002             CONDUCTOR    AUTO  MASCULINO    70
2    2016-0003             CONDUCTOR    MOTO  MASCULINO    30
3    2016-0004             CONDUCTOR    MOTO  MASCULINO    18
4    2016-0005             CONDUCTOR    MOTO  MASCULINO    29
..         ...                   ...     ...        ...   ...
712  2021-0092                PEATON  PEATON   FEMENINO    50
713  2021-0093  PASAJERO_ACOMPAÑANTE    MOTO   FEMENINO    18
714  2021-0094  PASAJERO_ACOMPAÑANTE    MOTO   FEMENINO    43
715  2021-0095             CONDUCTOR    MOTO  MASCULINO    27
716  2021-0096             CONDUCTOR    AUTO  MASCULINO    60

     Fecha fallecimiento
0    2016-01-01 00:00:00
1    2016-01-02 00:00:00
2    2016-01-03 00:00:00
3    2016-01-10 00:00:00
4    2016-02-01 00:00:00
..                   ...
712  2021-12-12 00:00:00
713  2021-12-18 00:00:00
714  2021-12-20 00:00:00
715  2022-01-02 00:00:00
716  2021-12-20 00:00:00

[717 rows x 6 columns]

In [155]:
df_victimas

,Id hecho,Rol,Víctima,Sexo,Edad,Fecha fallecimiento
0,2016-0001,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,CONDUCTOR,MOTO,MASCULINO,18,2016-01-10 00:00:00
4,2016-0005,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...
712,2021-0092,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

In [156]:
df_hechos

,Id,Cantidad víctimas,Fecha,Año,Mes,Día,Hora completa,Hora,Tipo de calle,Calle,...,Lugar del hecho,Comuna,Xy (caba),Pos x,Pos y,Participantes,Víctima,Acusado,Día semana,Mes del año
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AVENIDA,PIEDRA BUENA AV.,...,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO,Viernes,Enero
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,TRANSPORTE DE PASAJEROS,Sabado,Enero
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AVENIDA,ENTRE RIOS AV.,...,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO,Domingo,Enero
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AVENIDA,LARRAZABAL AV.,...,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD,Domingo,Enero
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AVENIDA,SAN JUAN AV.,...,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,TRANSPORTE DE PASAJEROS,Jueves,Enero
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AVENIDA,RIESTRA AV.,...,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO,Lunes,Diciembre
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AUTOPISTA,"DELLEPIANE, LUIS, TTE. GRAL.",...,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO,Lunes,Diciembre
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AVENIDA,GAONA AV.,...,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS,Jueves,Diciembre
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AVENIDA,"PERON, EVA AV.",...,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS,Miercoles,Diciembre
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,CALLE,PADRE CARLOS MUJICA,...,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO,Jueves,Noviembre

In [159]:
df_calendario['Día de la semana'] = df_hechos['Día semana']

In [161]:
df_calendario['Mes del año'] = df_hechos['Mes del año']

In [162]:
df_calendario

         Fecha   Año  Mes Día de la semana Mes del año
0   2016-01-01  2016    1          Viernes       Enero
1   2016-01-02  2016    1           Sabado       Enero
2   2016-01-03  2016    1          Domingo       Enero
3   2016-01-10  2016    1          Domingo       Enero
4   2016-01-21  2016    1           Jueves       Enero
..         ...   ...  ...              ...         ...
691 2021-12-13  2021   12            Lunes   Diciembre
692 2021-12-20  2021   12            Lunes   Diciembre
693 2021-12-30  2021   12           Jueves   Diciembre
694 2021-12-15  2021   12        Miercoles   Diciembre
695 2021-11-18  2021   11           Jueves   Noviembre

[696 rows x 5 columns]

In [163]:
df_calendario.to_excel(r'C:\Users\EFRAIN LINARES\Desktop\Henry PI 2\Datos_limpios\df_calendar_clean.xlsx', index=False)

Exportamos el DataFrame a archivo excel

In [157]:
rute_arch = r'C:\Users\EFRAIN LINARES\Desktop\Henry PI 2\Datos_limpios\df_victimas_clean.xlsx'
df_victimas.to_excel(rute_arch, index=False)